name: CI
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  lint:
    name: Lint Ruby
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
      - run: bundle exec rake rubocop

  specs:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        activesupport:
          - '7.1'
          - '7.2'
          - '8.0'
        ruby:
          - '3.2'
          - '3.3'
          - '3.4'
    name: Ruby ${{ matrix.ruby }}, Rails ${{ matrix.activesupport }}
    env:
      BUNDLE_GEMFILE: gemfiles/activesupport${{ matrix.activesupport }}.gemfile
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - run: bundle exec rake spec

  specs_successful:
    name: Specs passing?
    needs: specs
    if: always()
    runs-on: ubuntu-latest
    steps:
      - run: |
          if ${{ needs.specs.result == 'success' }}
          then
            echo "All specs pass"
          else
            echo "Some specs failed"
            false
          fi
